name: Yahoo Realtime Fetch

on:
  schedule:
    - cron: '0 21 * * *'  # JST 9æ™‚
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install dependencies
        run: pip install requests-html

      - name: Run script
        run: python script.py
